/* All */
body {
  color: white;
  background-color: #212529;
}

footer {
  background-color: #343a40;
}

section {
  padding-top: 5rem;
}

hr {
  width: 250px;
  border-top: 3px solid white;
  margin-left: auto;
  margin-right: auto;
}

/* navbar */
.navbar {
  background: linear-gradient(to right, #212529, #343a40);
}

.navbar-brand:hover,
.nav-item:hover {
  filter: drop-shadow(0px 0px 5px rgba(249, 252, 252, 0.9));
}

/* jumbotron */
.jumbotron {
  padding-top: 7rem;
  overflow: hidden;
  height: 600px;
  background-image: url(img/background-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.jumbotron .container {
  padding: 150px 0;
}

.jumbotron h1,
.jumbotron p {
  text-shadow: 1px 1px 10px rgba(53, 52, 52, 0.5);
}

.jAtas,
.jBawah {
  opacity: 0;
  transform: translate(0, -100px);
  transition: 2s;
}

.jBawah {
  transform: translate(0, 350px);
}

.jAtas.jMuncul,
.jBawah.jMuncul {
  opacity: 1;
  transform: translate(0, 40px);
}

/* about */
#about {
  overflow: hidden;
  min-height: 600px;
}

#about p {
  padding-top: 3rem;
}

#about .profile {
  opacity: 0;
  transform: translate(0, 50px);
  transition: 0.5s;
}

#about .profile.aMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

/* skill */
#skill {
  min-height: 600px;
}
#skill .gambar {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 0.5s;
}

#skill .gambar.sMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

#skill img {
  width: 100px;
  filter: grayscale(1) drop-shadow(1px 1px 1px rgba(88, 88, 88, 0.8));
}

#skill img:hover {
  filter: grayscale(0) drop-shadow(0px 0px 5px rgba(249, 252, 252, 0.9));
}

/* Resume */
#resume {
  background-image: url(img/background-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 150px;
  filter: drop-shadow(0px 0px 5px rgba(107, 107, 107, 0.9));
  padding-top: 1.8rem;
}

/* project */
.card {
  color: black;
}

#project .card {
  opacity: 0;
  transform: translate(0, -50px);
  transition: 0.5s;
}

#project .card.pMuncul {
  opacity: 1;
  transform: translate(0, 0);
}

/* .btn-card :hover {
  filter: grayscale(0) drop-shadow(0px 0px 5px rgba(249, 252, 252, 0.9));
} */

/* contact */
#contact {
  min-height: 600px;
}

/* footer */
footer {
  padding-top: 15px;
  background: linear-gradient(to top, #212529, #343a40);
}

.btn:hover,
.bi:hover {
  filter: drop-shadow(0px 0px 5px rgba(249, 252, 252, 0.9));
}
